.nav-bar {
  background-color: #1d2228;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.nav__container a {
  text-decoration: none;
}

.nav__icon {
  padding-bottom: 35px;
  opacity: 0.65;
}

.nav__active {
  opacity: 1;
}

.nav__icon img {
  width: 40px;
}

.nav__logo {
  opacity: 1;
}

.badge {
  position: relative;
  z-index: 10;
  background-color: #68d5dc;
  color: #1d2228;
  border: 3px solid #1d2228;
  border-radius: 7.5px;
  margin-left: 40px;
  margin-top: -55px;
  padding: 2px 2px;
  max-width: 25px;
  font-weight: bold;
  font-size: 12px;
}

.badge p {
  color: white;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
