.nav__container {
  background-color: #1d2228;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.nav__icon {
  padding-bottom: 35px;
}

.nav__icon img {
  width: 35px;
}
